@model ProjetoLavacaoStreetCar.Models.Carro
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Marca</h2>
<p>Modelo: @Model.Modelo</p>
<p>Cor: @Model.Cor</p>
<p>Placa: @Model.Placa</p>
