@model ProjetoLavacaoStreetCar.Models.Empresa
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>
<p>Endereco: @Model.Endereco</p>
<p>Cnpj: @Model.Cnpj</p>