@model ProjetoLavacaoStreetCar.Models.Funcionario
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>
<p>Matricula: @Model.Matricula</p>
<p>Horario: @Model.Horario</p>